<H2>Recently ADDEDsssssss</H2>

<div>
    <% books.forEach(books => { %>
        <a href="/books/<%= books.id%>">
            <img height="150" width="100" src="<%= books.coverImagePath %>">
        </a>
    
    <% }); %>
</div>