<div style="display: inline-flex!important; justify-content: center;" class="form-group mb-2 text-center">
  <label class="col-1 col-form-label">Name</label>
  <div class="col-4">
    <input
      class="form-control"
      type="text"
      name="name"
      value="<%= author.name %>"
    />
  </div>
</div>
